<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to my project site!</h1>
  <p class="lead">This is my project website for my CS3300 Software Engineering class, using Ruby on Rails.</p>
  <hr class="my-4">
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="projects" role="button">See all projects</a>
  </p>
</div>

<!--<%= link_to "See all projects", projects_path  %>-->